.home{
    margin: 80px !important;
}

.outer{
    display: flex;
    justify-content: space-evenly;
}

.button{
    font-size: 21px !important;
    margin: 20px !important;
}

.button:hover{
    border: none;
}


.diff{
    color: white;
}