.App {
  max-width: 860px;
  margin: 40px auto;
}

.button1{
  background: none;
  border: 2px solid white;
  padding: 6px 12px;
  border-radius: 4px;
  color: white !important;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.button1:hover {
  background: #5c006e;
  border: 2px solid #5c006e;
  color: #fff !important;
  transition: all ease-in 0.1s;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 300px;
}

.board{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.turns{
  font-weight: bold;
  color: #fff;
}

.buttonsTeam{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons-group{
  display: flex;
  justify-content: space-around;
}